body{
    background-color: #eee;
}

.caja{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    border-top: solid 0px;
}
.contenido{
    padding: 10px;
}
.header{
padding: 10px;
border-bottom: solid 1px #eee;
}
.footer{
    padding: 10px;
    border-top: solid 1px #eee;
}
.primario{
background-color: #0090ff;
padding: 5px;
border: 0px;
color: #fff;
}
.secundario{
background-color: #aaa;
padding: 5px;
border: 0px;
color: #fff;

}
