.flex{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
   
}
.red{
    background-color: red;
}
.primero{
   flex: 1 120px; 
   
}
.segundo{
    flex-grow: 1;
}
.tercero{
    flex-grow: 2;
    align-self: stretch;
}
