body {
   background-color: #eee;
 }
.caja{
  margin:8px;
  padding: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: #faa;
  border-left: 6px solid #afa;
  background-color: #aaf;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  color: #575
}
